.logo-light-them {
    margin-right: 90px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-light-them-color);
}

.logo-dark-them {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-dark-them-color);
}

.logo-icon {
    color: var(--accent-color);
}